body {

}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
	text-align: center;
}

li {
	text-align: left;
	background-color: black;
	color: yellow;
  text-decoration: none;
}

body {
	color: rgb(255, 255, 255);
	background-color: black;
	font-family: 'Fontdiner Swanky', 'Source Sans Pro', sans-serif;
	margin: 0px;
}
footer {
	position: absolute;
	bottom:0;
	left: 0;
}

.navbar {
	overflow: hidden; 
	background-color: skyblue;
	font-family: 'Fontdiner Swanky', 'Source Sans Pro', sans-serif;
	display: block;
}

.navbar a {
	float: right;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: right;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: 1px;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; 
	margin: 0; 
	display: block;
	float: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(71, 180, 223);
	color: grey;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: tomato;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: lightgreen;
}

.dropdown:hover .dropdown-content {
	display: block;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: orange;
}

#sections {
	padding: 60px 120px;
}

#sections div {
	display: flex;
	justify-content: center;

	padding: 20px;
	margin-bottom: 24px;
	border-radius: 15px;

	font-family: Source Sans Pro;
	font-size: 32px;
}
ul li a {
  text-decoration: none;
}

.button {
  border-radius: 15px;
  background-color: skyblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'Fontdiner Swanky', 'Source Sans Pro', sans-serif;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

